.summary {
	background-color: #f7f7fb;
	.summary__list--box {
		background-color: white;
		box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
		padding: 10px;
		border-radius: 25px;
		width: 550px;
		flex: 0 1 calc(50% - 30px);

		.summary__list--content {
			p:nth-child(1) {
				flex: 1 1 50%;
			}
			p:nth-child(2) {
				flex: 1 1 50%;
				align-items: end;
			}
			p:nth-child(3) {
				flex: 100%;
			}
			p:nth-child(4) {
				flex: 1 1 50%;
			}
			p:nth-child(5) {
				flex: 1 1 50%;
				align-items: end;
			}
		}
		.summary__member--wrapper {
			border-radius: 44px;
			padding: 7px 20px;
			margin-top: 15px;
		}
	}
}
