@import '../styles/variables';
.primary--btn {
	background-color: $bright-orange;
	padding: 10px 40px;
	color: $white-color;
}

.user-profile--wrapper {
	background-color: #ff40dd40;
	border-radius: 44px;
	padding: 7px 16px;
	margin-top: 15px;
}
