@import '../styles/variables';
.primary--btn {
	background: $blue-light;
	padding: 7px 16px;
	border: none;
	color: $white-color;
	letter-spacing: 1.5px;
}

.user-profile--wrapper {
	background-color: #ff40dd40;
	border-radius: 44px;
	padding: 7px 16px;
	margin-top: 15px;
}
